@page "/clients2"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MinimalApiAuth.Domain
@using MinimalApiAuth.Persistence
@implements IAsyncDisposable
@inject IDbContextFactory<MinimalApiAuth.Persistence.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="clients/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Clients">
    <PropertyColumn Property="client => client.FirstName" />
    <PropertyColumn Property="client => client.LastName" />
    <PropertyColumn Property="client => client.Email" />
    <PropertyColumn Property="client => client.Phone" />

    <TemplateColumn Context="client">
        <a href="@($"clients/edit?id={client.Id}")">Edit</a> |
        <a href="@($"clients/details?id={client.Id}")">Details</a> |
        <a href="@($"clients/delete?id={client.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
